html, body {
    height: 100%;    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
}

table {
    width: 97%;        
    margin-left: 2%;
    border-collapse: collapse;
} 

th {
    text-align: start;
}

th, td {
    padding: 0.20em;
}

tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05); 
}

tbody > tr:nth-of-type(odd) > td {
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

label, input[type=checkbox] {
    vertical-align: middle;
}

.headerContainer {
    padding: 0.75em;
    background-color: black;
    color: white;       
}

.subHeader {
    padding: 0.50em;
    background-color: grey;
    color: white;
}

/***************************
          Layout 
 ***************************/
 
 body {    
    display: flex;
    flex-direction: column;
}

#headerContainer {     
    display: flex;  
    flex-direction: row; 
}

#mainContent {
    flex: 1 1 auto; 
    display: flex;  
}

#logo {
    flex: 7;
} 

#controls {
    flex: 3;    
    display: flex; 
}

#controls > div:nth-child(2) {
    padding-left: 30px; 
}

#formsContainer {    
    width: 200px;
    min-width: 100px;
}

#iframeContainer {
    flex: 1 1 auto;        
    display: flex;
    flex-direction: column;   
}

/* #iframeContainer > header {         
} */

#iframeContainer > iframe {        
    flex: 1 1 auto;   
    margin: 0.25em;    
    width: 99%;      
}

#messagesContainer {
    flex: 1;
}

.splitter {    
    width: 8px;
    min-width: 4px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    cursor: col-resize;
}

/* @media screen and (max-width: 500px) {
    #mainContent {
        flex-direction: column;
    }   
} */
