html, body {
    width: 100%;
    height: 100%;
    
}

body {    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;            
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
} 

th {
    text-align: start; 
}

th, td {
    padding: .25rem .5rem;  
}

tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05); 
}

tbody > tr:nth-of-type(odd) > td {
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

label {
    display: block;
    margin-bottom: .5rem; 
}

button {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;  
    border-radius: 5px;         
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: no-wrap;        
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;     
}

.primary {
    background-color: #007bff;
    border: 1px solid #007bff;      
    color: #fff;    
}

.primary:hover {
    background-color: #0069d9;
    border-color: #0062cc; 
}

.formGroup {
    margin-bottom: 1rem; 
} 

.formControl {
    color: #495057;   
    padding: 0.375rem 0.75rem;         
    border: 1px solid #ced4da; 
    border-radius: 0.25rem;     
}

.subHeader {
    padding: .5rem;
    background-color: grey;
    color: white;
}

.splitter {    
    width: 2px;
    min-width: 2px;
    background-color: grey; 
}

#headerContainer {     
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;  
}

#logo {
    flex: 6;
} 

#controls {
    flex: 4;    
    display: flex;  
}

#controls > div {
    padding-left: 1rem; 
    display: flex;
}

#mainContainer {
    flex: 1; 
    display: flex;  
}

#iframeFormContainer, #messageFormContainer {    
   display: flex;
   flex-direction: column;  
}

#iframeFormContainer > form, #messageFormContainer > form  {    
    flex: 1;     
    padding: 1rem; 
    background-color: #f8f9fa; 
}

#iframeContainer {
    flex: 3;        
    display: flex;
    flex-direction: column;    
}

#iframeContainer > iframe {        
    flex: 1;   
}